* {
    font-family: 'Prompt', Arial, Helvetica, sans-serif;
    color: #222222;
    box-sizing: border-box;
}
body {
    /* background-color: #80e5a6; */
    background: #80e5ab;
}
h1 {
    margin: 30px;
}
.container-fluid {
    padding: 10vh 0;
}
